{% extends 'events/base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
<h1>Events</h1>

<div class="card-group">
{% for event in event_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ event }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><a href="{{ event.venue.web }}">{{ event.venue }}</a></h6>
            <p class="card-text"><em>{{ event.event_date }}</em></p>
            <p class="card-text">{{ event.description }}</p>

            <ul class="list-group list-group-flush"></ul>
            {% for user in event.attendees.all %}
                <li class="list-group-item">{{ user }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="card-footer text-end">
            <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}